<a href="<?php echo $index.'/admin.php'; ?>" class="btn btn-inverse">Painel</a>
<div class="btn-group">
  <button class="btn">Ver</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a href="<?php echo $coments; ?>">Veja o site</a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn">Usuários</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a href="<?php echo $new_user; ?>">Novo Usuário</a>
    </li>
    <li>
        <a href="<?php echo $list_user; ?>">Listar Usuários</a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn">Categorias</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a href="<?php echo $new_cat; ?>">Nova Categoria</a>
    </li>
    <li>
        <a href="<?php echo $list_cat; ?>">Listar Categorias</a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn">Postagens</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a href="<?php echo $new_post; ?>">Novo Post</a>
    </li>
    <li>
        <a href="<?php echo $list_post; ?>">Listar Posts</a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn">Comentários</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a href="<?php echo $coments; ?>">Listar Comentários</a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn">Midias</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a href="<?php echo $new_midia; ?>">Nova Midia</a>
    </li>
    <li>
        <a href="<?php echo $list_midia; ?>">Listar Midias</a>
    </li>
  </ul>
</div>