<div id="page" class="radius shadow">
	<div class="row central">
		<form class="form-horizontal marron2 radius shadow central">
		<fieldset>
		
		<!-- Form Name -->
		<legend>Fale Conosco</legend>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label">Nome</label>
		  <div class="controls">
		    <input id="nome" name="nome" type="text" placeholder="Digite seu nome aqui" class="input-xlarge" required="">
		    
		  </div>
		</div>
		
		<!-- Prepended text-->
		<div class="control-group">
		  <label class="control-label">E-mail</label>
		  <div class="controls">
		    <div class="input-prepend">
		      <span class="add-on">@</span>
		      <input id="email" name="email" class="span3" placeholder="Seu e-mail aqui" type="text" required="">
		    </div>
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label">Assunto</label>
		  <div class="controls">
		    <input id="assunto" name="assunto" type="text" placeholder="seu assunto aqui" class="input-xlarge" required="">
		    
		  </div>
		</div>
		
		<!-- Textarea -->
		<div class="control-group">
		  <label class="control-label">Mensagem</label>
		  <div class="controls">                     
		    <textarea id="mensagem" class="input-xlarge" name="mensagem">sua mensagem aqui</textarea>
		  </div>
		</div>
		
		<!-- Button -->
		<div class="control-group">
		  <label class="control-label"></label>
		  <div class="controls">
		    <button id="singlebutton" name="singlebutton" class="btn btn-success">Enviar</button>
		  </div>
		</div>
		
		</fieldset>
		</form>
		<div class="mapa radius marron2 shadow centered">
			<iframe width="600" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Bar%C3%A3o+de+Aracati,+2452,+Fortaleza+-+Cear%C3%A1&amp;aq=0&amp;oq=Rua+Bar%C3%A3o+Aracati,+2452&amp;sll=-3.789768,-38.521262&amp;sspn=0.199719,0.337486&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Bar%C3%A3o+de+Aracati,+2452+-+Joaquim+Tavora,+Fortaleza+-+Cear%C3%A1,+60115-082&amp;t=m&amp;ll=-3.73819,-38.513861&amp;spn=0.041111,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></small>
		</div>
	</div>
</div>
